# created by virtualenv automatically
.venv
.idea
2.1-databases/.idea
2.1-databases/models_list_displaying/.venv
2.1-databases/models_list_displaying/.idea
2.1-databases/work_with_database/.venv
2.1-databases/work_with_database/.idea
2.2-databases-2/m2m-relations/.venv
2.2-databases-2/m2m-relations/.idea
2.2-databases-2/orm_migrations/.venv
2.2-databases-2/orm_migrations/.idea