{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
            </div>
        </div>
        {% if prev_date != None %}
            <a href="/books/{{ prev_date|date:'Y-m-d' }}"> {{ prev_date|date:'Y-m-d' }} </a>
        {% endif %}
        {% if next_date != None %}
            <a href="/books/{{ next_date|date:'Y-m-d' }}">{{ next_date|date:'Y-m-d' }} </a>
        {% endif %}
    </div>
{% endblock %}